@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #f0fdfa;
	--color-primary-100: #ccfbf1;
	--color-primary-200: #99f6e4;
	--color-primary-300: #5eead4;
	--color-primary-400: #2dd4bf;
	--color-primary-500: #14b8a6;
	--color-primary-600: #0d9488;
	--color-primary-700: #0f766e;
	--color-primary-800: #115e59;
	--color-primary-900: #134e4a;

	--color-secondary-50: #f0f9ff;
	--color-secondary-100: #e0f2fe;
	--color-secondary-200: #bae6fd;
	--color-secondary-300: #7dd3fc;
	--color-secondary-400: #38bdf8;
	--color-secondary-500: #0ea5e9;
	--color-secondary-600: #0284c7;
	--color-secondary-700: #0369a1;
	--color-secondary-800: #075985;
	--color-secondary-900: #0c4a6e;
}

@source '../../node_modules/flowbite-svelte/dist';
@source '../../node_modules/flowbite-svelte-icons/dist';

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}

.font-jakarta {
	font-family: 'Plus Jakarta Sans', sans-serif;
}

.bg-pattern {
	background-color: #0f766e;
	background-image:
		radial-gradient(#115e59 2px, transparent 2px), radial-gradient(#115e59 2px, transparent 2px);
	background-size: 32px 32px;
	background-position:
		0 0,
		16px 16px;
}
